
.mainCard{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(101, 207, 198); */
    display: flex;
    justify-content: center;
    display: flex;
    
    
    


}
.display{
    /* background-color: rgb(36, 179, 131); */
    
    color:white
}

.backImage{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.forecast{
    color:black;
    display: flex;
    justify-content: space-around;
}

.tempNow{
    display: flex;
    justify-content: space-around;

}

.innerTemp{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.descp{
    font-size: x-large;
}

.temp{
    padding-top: 20px;
    font-size: xx-large;
}

.ptag{
    display: flex;
    justify-content: space-around;
}

.head{
    padding-top: 15px;
}